# Byte-compiled / optimized / DLL files
__pycache__/

# Configs, logs, and checkpoints
.vscode/
.ipynb_checkpoints/
logs/
logs_art/
logs_mnits/

# Data, references, reports, samples, checkpoints etc.
Reference/
Reports/
Instruction.md
Papers/
Experiments/
Dataset/
dataset/
samples/
save/
D.ckpt
G.ckpt


# IPython
profile_default/
ipython_config.py

# pyenv
.python-version


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/


# Environments
.env
.venv
env/
venv/
ENV/



